.background{
    -fx-background-color: #EAE4D1;

}
.login-btn{
    -fx-text-fill: #A58A5F;
    -fx-background-color: null;
}
.login-btn:hover{
    -fx-opacity: 0.7;
}
.login-btn:selected{
    -fx-text-fill: #7C623F;
}
.exit-btn{
    -fx-background-color: #D5C8A0;
    -fx-shape:"M259.6 211.6l0.4 0.4 252 252 252-252c13.3-13.3 34.8-13.3 48.1 0 13.1 13.1 13.3 34.4 0.4 47.7l-0.5 0.3-252 252 252 252c13.3 13.3 13.3 34.8 0 48.1-13.1 13.1-34.4 13.3-47.7 0.4l-0.3-0.5-252-252-252 252c-13.3 13.3-34.8 13.3-48.1 0-13.1-13.1-13.3-34.4-0.4-47.7l0.4-0.4 252-252L212 260c-13.3-13.3-13.3-34.8 0-48.1 13.1-13.1 34.3-13.2 47.6-0.3z";

}
.exit-btn:hover{
    -fx-opacity: 0.8;
}
.text-field{
    -fx-background-radius: 3;
    -fx-background-color: #F5F2E9;
    -fx-border-width: 1;
    -fx-border-color: #D5C8A0;
}