.bkg{
    -fx-background-color: #168AAD;
}
.text-field{
    -fx-background-color: null;
}
.stop-btn{
    -fx-max-height: 35;
    -fx-max-width: 35;
    -fx-shape: "M319.618435 145.655358c-30.518061 0-55.258535 24.740474-55.258535 55.258535l0 622.170169c0 30.518061 24.740474 55.258535 55.258535 55.258535s55.258535-24.740474 55.258535-55.258535l0-622.170169C374.876969 170.395832 350.136495 145.655358 319.618435 145.655358zM704.381565 145.655358c-30.518061 0-55.258535 24.740474-55.258535 55.258535l0 622.170169c0 30.518061 24.740474 55.258535 55.258535 55.258535s55.258535-24.740474 55.258535-55.258535l0-622.170169C759.6401 170.395832 734.899626 145.655358 704.381565 145.655358z";
    -fx-background-color: white;
}
.stop-btn:hover{
    -fx-opacity: 0.7;
}

.stop-panel{
    -fx-background-color: black;
    -fx-opacity: 0.2;
}
.btn-restart{
    -fx-background-color: white;
    -fx-shape: "M849.578667 428.693333l-230.976-25.856a21.333333 21.333333 0 0 1-12.778667-36.245333l77.354667-77.930667c-118.826667-93.504-289.450667-77.162667-388.693334 37.184-99.264 114.346667-92.586667 286.933333 15.210667 393.130667a282.538667 282.538667 0 0 0 390.4 6.613333 13.44 13.44 0 0 1 18.858667 0.042667l43.562666 43.2a18.944 18.944 0 0 1 0.746667 26.112c-144.512 146.24-364.842667 138.922667-514.197333-2.261333-149.376-141.226667-160.32-376.469333-24.725334-531.136 135.616-154.666667 368.64-172.714667 526.122667-40.746667l60.693333-61.12a21.333333 21.333333 0 0 1 36.352 12.693333L873.173333 405.12a21.333333 21.333333 0 0 1-23.594666 23.552z";
    -fx-opacity: 0.9;
}
.btn-restart:hover{
    -fx-opacity: 0.7;
}
.btn-continue{
    -fx-background-color: white;
    -fx-shape: "M857.91971555 428.48028445l-521.38666666-340.69390223c-81.06666667-46.82638222-147.41390222-8.42638222-147.41390222 85.12056889v681.27971556c0 93.65390222 66.34723555 131.94695111 147.41390222 85.22638222l521.38666666-340.58695111c81.06666667-46.93333333 81.06666667-123.52056889 0-170.34695111z";
    -fx-opacity: 0.9;
}
.btn-continue:hover{
    -fx-opacity: 0.7;
}
.btn-exit{
    -fx-background-color: white;
    -fx-shape: "M474.496 512l338.752-338.752-90.496-90.496L293.504 512l429.248 429.248 90.496-90.496z";
    -fx-opacity: 0.9;
}
.btn-exit:hover{
    -fx-opacity: 0.7;
}
.hint-label{
    -fx-background-color: black;
    -fx-opacity: 0.1;
}
.btn{
    -fx-background-color: null;
    -fx-border-width: 1;
    -fx-border-color: white;
}
    .btn:hover{
        -fx-opacity: 0.7;
    }
     .btn-up{
         -fx-border-radius: 5;
         -fx-background-color: null;
         -fx-border-width: 2;
         -fx-border-color: white;
     }
     .btn-up:hover{
         -fx-opacity: 0.7;
     }
.btn-up Region{
          -fx-background-color: white;
          -fx-shape: "M533.333333 465.066667L358.4 640 298.666667 580.266667l234.666666-234.666667 234.666667 234.666667-64 59.733333-170.666667-174.933333z";
    }
.btn-down{
    -fx-border-radius: 5;
    -fx-background-color: null;
    -fx-border-width: 2;
    -fx-border-color: white;
}
.btn-down:hover{
    -fx-opacity: 0.7;
}
.btn-down Region{
    -fx-background-color: white;
    -fx-shape: "M533.333333 516.266667l-174.933333-170.666667-64 59.733333 234.666667 234.666667L768 405.333333l-59.733333-59.733333-174.933334 170.666667z";
}
.btn-left{
    -fx-background-color: null;
    -fx-border-width: 2;
    -fx-border-color: white;
    -fx-border-radius: 5;
}
.btn-left:hover{
    -fx-opacity: 0.7;
}
.btn-left Region{
    -fx-background-color: white;
    -fx-shape: "M503.466667 490.666667l174.933333 174.933333-59.733333 59.733333L384 490.666667 618.666667 256l59.733333 59.733333-174.933333 174.933334z";
    }
.btn-right{
    -fx-background-color: null;
    -fx-border-width: 2;
    -fx-border-color: white;
    -fx-border-radius: 5;
}
.btn-right:hover{
    -fx-opacity: 0.7;
}
.btn-right Region{
    -fx-background-color: white;
    -fx-shape: "M558.933333 490.666667L384 665.6l59.733333 59.733333 234.666667-234.666666L443.733333 256 384 315.733333l174.933333 174.933334z";

    }